#hamburger,#drink,#meal,#box,#dessert,#order,#salecode,#salelist,#other,#orderList{
    max-width: 1000px;
    display: none;
     margin: auto;
  }
.imageContent,.orderList{
  vertical-align: middle;
  height: 600px;
  max-width: 1000px;
  
}


.imageContent1{
  vertical-align: middle;
  height: 600px;
  /* position: relative; */
  margin: 100px 0 0 0;
  
}
.imageContent2{
  vertical-align: middle;
  height: 600px;
  /* position: relative; */
  margin: 50px 0 0 0;
}

.joinOrder{
  /* position: relative; */
  font-size: 30px;
  background-color: rgb(221, 158, 40);
  cursor: pointer;
  margin-top: 50px;
  margin-left:450px;
  border: 3px black solid;
}
.joinOrderq{
  /* position: relative; */
  font-size: 30px;
  background-color: rgb(221, 158, 40);
  cursor: pointer;
  margin-left: 500px;
  
  border: 3px black solid;
}

.productName{
  /* position: relative; */
  top: 20px ;
  left:50px ;
  text-align: center;
  font-size: 30px;
}
.productName1{
  /* position: relative; */
  top: 20px ;
  margin-left:320px ;
  
  font-size: 30px;
}
.productName2 {
  /* position: relative; */
  top: 20px ;
  left:50px ;
  text-align: center;
  font-size: 30px;
  
  cursor: pointer;

}
.productName2 span{
  margin: auto ;
  border: 3px black solid;
  background-color: rgb(221, 158, 40);
  text-align: center;
}
.productName3{
  /* position: relative; */
  top: 20px ;
  left:50px ;
  font-size: 30px;
}


#order{
  max-width: 1000px;
  position: relative;
  margin: auto;
  font-size: 30px;
}
#orderData{
  max-width: 1000px;
  position: relative;
  margin: auto;
 

}

.orderListxdd{
  font-size: 30px;
  display: none;

}

#orderData span{
  background-color: goldenrod;
  font-size: 30px;
  cursor: pointer;
  border: 3px black solid;
  margin: 4px;
  padding: 3px;

}
.orderListxdd input{
  background-color: goldenrod;
  font-size: 30px;
  text-align: right;
  border: 3px black solid;
  margin: 4px;
  width: 100px;
  border-radius: 10px;
}
#subqqq{font-size: 30px;}
#subqqq select{
  background-color: goldenrod;
  font-size: 20px;
  text-align: right;
  border: 3px black solid;
  margin: 4px;
  width: 250px;
  border-radius: 10px;
}
.coupons{display: none;}
.show {display:block;}